[submodule "external/smhasher"]
	path = external/smhasher
	url = https://github.com/aappleby/smhasher/
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/libstemmer"]
	path = external/libstemmer
	url = https://github.com/scivey/libstemmer
